<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Dojo Survey </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="stylesheets/style.css" rel="stylesheet">
    </head>
<body>
    <div class='main'>
        <h1> Thanks for taking the survey! </h1>
        <p> Name: <%= name %> </p>
        <p> Location: <%= location %> </p>
        <p> Language: <%= language %> </p>
        <p> Comment: <%= message %><br> </P>
        <p><a href= "/"> Back to Home </a></p>
    </div>
</body>

</html>